
body{
    margin:0;
    background-color: #222;
    color:tomato;
}

#msgColumn{
    width:50%;
    height:100vh;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;
}

#messages{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

#textInput{
    width:100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 5vh;
}

.message{
    width:100%;
    margin:0.5% 0;
    padding:0 0 0 2.5%;
    border-left: 5px solid orangered;
}
textarea{
    border:none;
    background:none;
    outline-color: orangered;
    color: orangered;
    height:20vh;
    max-height:40vh;
}